# Build
build/
out/
x64/
production/

# Custom Test file
Test.cpp

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.sln

# IDEA
.idea/
*.iml

# CLion
cmake-build-debug/

# Macintosh
.DS_Store